# Godot 4+ specific ignores
.godot/
/android/

#vscode
.vscode

#Export Presets
export_presets.cfg

#Environment
.env

#Folder Icon
desktop.ini

#webrtc binary
addons/webrtc/lib/~libwebrtc_native.windows.template_debug.x86_64.dll

#Websocket signalling
multiplayer/Websocket_signalling/node_modules